@model IEnumerable<Project_Job_Portal.Models.Candidate>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h2>Aggregates</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Agg. Function</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Count
                    </td>
                    <td>
                        @Model.Count()
                    </td>
                </tr>
                <tr>
                    <td>
                        Max
                    </td>
                    <td>
                        ExpectedSalary Max: @Model.Max(x => x.ExpectedSalary)
                    </td>
                </tr>
                <tr>
                    <td>
                        Min
                    </td>
                    <td>
                        ExpectedSalary Min: @Model.Min(x => x.ExpectedSalary)
                    </td>
                </tr>
                <tr>
                    <td>
                        Average
                    </td>
                    <td>
                        ExpectedSalary Average: @Model.Average(x => x.ExpectedSalary)
                    </td>
                </tr>
                <tr>
                    <td>
                        Sum
                    </td>
                    <td>
                        ExpectedSalary Sum: @Model.Sum(x => x.ExpectedSalary)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

